<h2>Add to pipeline</h2>

<%= form_for @changeset, pipeline_item_path(@conn, :create, @changeset.data.pipeline_id), fn f -> %>
  <div class="form-group">
    <label id="pipeline-pattern">Pattern</label>
    <%= select f, :pattern_id, pattern_options(@patterns), id: "pipeline-pattern", class: "form-control" %>
  </div>

  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>