Edit pattern

<%= form_for @changeset, pattern_path(@conn, :update, @params["id"]), fn f -> %>
  <label>
    Rule: <%= text_input f, :rule %>
  </label>

  <label>
    Target: <%= text_input f, :target %>
  </label>

  <%= submit "Submit" %>
<% end %>
